<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to My Django Project</h1>
    <p>This is a simple homepage for my Django project.</p>
    <p>I'm Mohammed Taha </p>
    <p>How to using this: </p>
    <p>http://127.0.0.1:8000/ : it's the home page </p>
    <p>http://127.0.0.1:8000/api/docs : to display API documentation </p>
    <p>http://127.0.0.1:8000/api/recipe : to display recipe and to create one </p>
    <p>http://127.0.0.1:8000/api/recipe/tags : to display tags and to create one </p>
    <p>http://127.0.0.1:8000/api/recipe/ingredients : to display ingredients and to create one </p>
    <p>/api/recipe/recipes/id/upload-image/: to upload an images </p>
    <p>http://127.0.0.1:8000/admin : it's an admin page , which has all privileges </p>
    <p>I recommand to use admin@example.com and 123456 to enroll inside admin page  </p>

</body>
</html>
